{% extends "base.html" %}
{% load static filters %}

{% block title %}Просто магазин / {{ current_section }}{% endblock %}

{% block main %}
<main role="main">

  <div class="container">
    {% if current_section.category %}
        <h1>{{ current_section.category }} | {{ current_section }}</h1>
    {% else %}
        <h1>{{ current_section }}</h1>
    {% endif %}

    {% for product in product_list %}
        {% if forloop.counter0|rem_of_div:3 == 0 %}
            <div class="row">
        {% endif %}

              <div class="col-md-4">
                  <h3>{{ product.title }}</h3>
                  <a href="{% url 'product' product.pk %}">
                    <img src="{% static 'img/' %}{{ product.picture }}" width="180">
                  </a>
                  <form>
                    <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                  </form>
              </div>

        {% if forloop.counter0|rem_of_div:3 == 2 %}
            </div>
        {% endif %}
    {% endfor %}

    {% if not product_list|length|rem_of_div:3 == 1 %}
        </div>
    {% endif %}
    </div>
</main>
{% endblock %}